.Header{
    background-color:#701d0b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: fit-content;
    color: white;
}
.Header__Title > h3 {
    margin-left: 30px;
}
.Header__Title {
    display: flex;
    align-items: center;
}